.exprience {
  max-width: 1280px;
  margin: 10px auto;
}
.exprienceTitle {
  width: 100%;
  text-align: left;
  padding: 20px;
  border-bottom: 1px solid #ffffff80;
}
.exprienceTitle h2 {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 3em;
  color: #fff;
}
.exprienceContainer{
    padding: 10px;
}
.expriencesStepsDesc li {
  font-size: 14px;
  list-style-type: disc;
}
.expriencesStepsImg {
  width: 65px;
  height: 65px;
  overflow: hidden;
  border-radius: 100%;
  flex-shrink: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 777;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}
.expriencesStepsImg img {
  max-width: 100%;
  height: fit-content;
}
.expContent{
  padding: 30px;
  background-color: rgba(225, 225, 225, 0.05);
  backdrop-filter: blur(10px);
  /* position: relative; */
  /* border-radius: 0px 0px 80px 0px; */
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0px 16px 27px rgb(0 11 30 / 10%);
  color: #fff;
  width: 600px;
}

.stepDate,.expMonthfDiff{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(225, 225, 225, 0.1);
    padding:2px 10px;
    border-radius: 5px;
    margin: 10px 0;
    max-width: 150px;

}
.expMonthfDiff{
  width: fit-content;
}
.stepDate p,.expMonthfDiff p{
    font-size: 10px;
}


.expCompany {
  margin:10px 0;

}
.expCompany h4{
  text-transform: uppercase;
}
.expCompany p{
  text-transform: capitalize;
  font-size: small;
}

.expSkillsContainer{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
}
.expSkills{
  margin:5px;
  padding: 2px 5px;
  background-color: rgba(225, 225, 225, 0.1);
  border-radius: 5px;

}
.expSkills:first-child{
  margin-left: 0;
}
.expSkills p{
  font-size:12px;
}
.exMonthDiff p{

}

@media screen and (min-width:600px) {
    .exprienceContainer{
        padding: 15px;
    }
.expCompany {
  display: flex;
}
.expCompany p{
  margin-left: 10px;
}
.expDateContainer{
  display: flex;

}
.expMonthfDiff{
  margin-left: 10px;
}
}
@media screen and (min-width:1024px) {
.exprienceTitle h2 {
    font-size: 5em;
}
}