.project {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0 20px;
}
.project:nth-child(1) {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.project:nth-child(2) {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.project-cover {
  display: block;
  width: 320px;
  background-color: rgba(225, 225, 225, 0.1);
  backdrop-filter: blur(8px);
  /* border-radius: 10px; */
  position: relative;
  margin: 30px auto;
  border: 1px solid rgba(255, 255, 255, 0.05);
  /* padding: 15px; */
}

.project-img {
  width: 100%;
  /* height: 190px; */
  /* overflow: hidden; */
  /* border-radius: 10px; */
}
.project-img img {
  max-width: 100%;
}

.project-text {
  width: 100%;
  padding: 5px 20px;
  font-family: "Poppins", sans-serif;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  margin: 15px 0px;
  text-transform: capitalize;
}
.project-text-title h1 {
  font-size: 34px;
  color: #fff;
}

.project-text-para,.project-text-para p{
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.8);
}
.project-text-para ul{
  padding:0 10px
}
.project-text-para ul li{
  list-style:disc;
  margin:10px 0
}
.project-text .duration {
  color: rgba(255, 255, 255, 0.8);

}
.project-text .duration .duration-title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.project-tech {
  padding: 5px 15px;
  color: #fff;
  font-family: "Poppins",sans-serif;
}

.project-tech .project-tech-title h1 {
  text-transform: uppercase;
  font-size: 1em;
  /* text-align: center; */

}

.project-tech-list {
  width: 100%;
  display: flex;

  /* padding:15px; */
}
.project-tech-item {
  width: 100%;
  padding: 7px;
  /* width: 55px; */
}
.project-tech-item img {
  max-width: 100%;
}
.project-button {
  width: 100%;
  padding: 0px 0px 25px 20px;
}

.project-button .visit-button {
  width: 150px;
  font-family: "Poppins", sans-serif;
  box-shadow: var(--app-shadow);
  border-radius: 50px;
  text-align: center;
  padding: 5px 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #7400b8;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 1rem hsla(186, 100%, 69%, 1),
  0 0 0.8rem hsla(186, 100%, 69%, 1),
  0 0 2.8rem hsla(186, 100%, 69%, 1),
  inset 0 0 1.3rem hsla(152, 100%, 50%, 1);
}
.threeImg{
  width: 55px;
  /* width: 100%; */
  padding: 7px;
}
.threeImg img{
  max-width: 100%;
}
@media screen and (min-width: 810px) {
  .project-cover {
    width: 390px;
  }
  .project-img {
    height: 235px;
  }
.project-tech-item {
  padding:12px;
}
.project-text-para ul li{
  font-size:1em
}
}

@media screen and (min-width: 1280px) {
  .projects{
    padding:15px;
  }
  .projects-container {
    max-width: 1380px;
    margin: 0 auto;
    gap:0 0;
  }
  .project-cover{
    width: 530px;
  }
  .project-info{
    display:flex;
    flex-wrap: wrap;
  }
  .project-text{
  border-top: 2px solid rgba(255, 255, 255, 0.2);
    flex:50%
  }
  .project-img {
    height: 350px;
  }
  .project-tech{
    flex:10%;
    padding: 14px 25px;
  }
  .project-tech-item , .threeImg {
    width: 100%;
    text-align: right;
  }
  .threeImg img{
    width:40%;

  }
  .project-tech-item img{
    width:40%;
  }
  .project-tech-list{
    display:flex;
    flex-direction:column;
  }
  .project-text-title h1 {
    font-size:3em;
  }
  .projects-title p {
    font-size: 0.9em;
  }
.project-tech .project-tech-title h1 {
  text-align:right;
}
  .project-button {
    /* padding: 0; */
  }
  .project-tech .project-tech-title h1 {
    font-size: 0.8em;
  }

  .web-button-container{
    display:flex
  }
}

@media screen and (min-width: 1440px) {
  .project-cover{
    width: 580px;
    /* max-width:580px */
  }
}