.home {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.home-background {
  position: absolute;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  /* z-index:; */
}
.home-background img {
  width: 180%;
  height: 100%;
  position: absolute;
  /* object-fit: cover; */
  filter: blur(2px);
}
.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  padding: 10px;
  transition: all 0.2s linear;
}
.intro {
  width: fit-content;
  margin-left: 10%;
  z-index: 100;
  font-family: "Poppins", sans-serif;
}

.home-intro-text {
  font-family: "Poppins", sans-serif;
  color: #fff;
  width: fit-content;
  height: 100%;
  text-align: left;
}
.home-intro-text h2 {
  font-size: 4em;
  line-height: 1;
}
.home-intro-text p {
  text-transform: capitalize;
  padding: 10px 0;
  font-size: 12px;
  max-width:700px;
  margin : 0 auto;
}
.home-intro-text p span{
  font-weight: lighter;
}

.progress-bars {
  width: 55px;
  margin-left: 10px;
  padding: 20px 0;
  z-index: 100;
}
.progress-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.progress-bar-container li {
  display: flex;
  flex-direction: column;
  /* margin: 14px 0px; */
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.progress-name {
  font-family: "Poppins", sans-serif;
  margin-top: 5px;
  color: #fff;
  /* font-weight: lighter; */
  text-transform: capitalize;
  font-size: 15px;
}
.download-button {
  margin-top: 10px;
}
.download-button a {
  padding: 10px 5px;
  background-color: #fff;
  width: fit-content;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  font-size: 16px;
}
.download-button a p {
  color: #000;
}
.download-button button {
  width: fit-content;
  /* margin:10px 0px; */
  margin-left: 5px;
  border-bottom: 0.5px solid #fff;
  cursor: pointer;
  border: none;
  background: transparent;
}

@media screen and (min-width: 600px) {
  .home-container {
    justify-content: space-between;
  }

  .progress-bars {
    width: 12%;
  }
  .home-intro-text h2 {
    font-size: 16vw;
  }
  .progress-bar-container li {
    width: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .home-background img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    filter: blur(2px);
  }
  
  .home-container,
  .intro {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .intro {
    display: flex;
    margin: 0;
  }
  .home-intro-text {
    text-align: center;
  }
  .progress-bars {
    width: 100%;
    margin: 0;
    padding: 0;
    height: fit-content;
    margin-top: 45px;
  }
  .home-intro-text h2 {
    font-size: 8em;
  }
  .home-intro-text p {
    font-size: 18px;
    /* margin-top:10px */
  }
  .progress-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* height: 100vh; */
    height: fit-content;
    padding: 0 85px;
  }
  .progress-bar-container li {
    width: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    margin-top: 10px;
  }
  .progress-bars {
    width: 1024px;
  }
  .progress-bar-container {
    flex-direction: row;
  }
  .home-intro-text h2 {
    font-size: 12em;
  }
  .home-intro-text p {
    padding: 0;
    /* margin-top: 30px; */
    font-size: 20px;
  }
}
