.sidebar {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  align-items: center;
  z-index: 1000;
  /* display:none; */
  font-family: "Poppins", sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: all 0.2s ease-in-out;
}
.side-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.sidebar .side-container .side-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 300px;
}
.sidebar .side-container .side-items .side-item {
  /* width: */
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  /* border-bottom:1px solid rgba(255,255,255,0.4) */
}
.side-contact-container {
  width: 320px;
}
.sidebar-close-button p {
  padding: 10px;
  color: #fff;
  font-size: 30px;
}

@media screen and (min-width: 1280px) {
  
  .sidebar {
    width: auto;
    background-color: transparent;
    backdrop-filter: none;
    left: 0;
  }

  .sidebar .side-container .side-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    width: 60px;
  }
  .sidebar .side-container .side-items .side-item {
    transform: rotate(-90deg);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
  }

  .side-contact-container {
    display: none;
  }

  .sidebar .side-container .side-items .side-item p:hover {
    color: #da0aff;
    text-shadow: 0px 0px 20px rgb(218, 10, 255);
    transition: all ease-in 0.2s;
    /* background:#fff; */
  }
.sidebar-close-button p {
    display: none;
}
}
